@import "root", "mixins";

.main-container {
    display: flex;
    width: 100%;
    // background-color: chartreuse;
    position: relative;

    strong {
        padding-left: 20px;
        margin-left: 0;
    }

    .main-left {
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        width: 250px;

        ul {
            border-radius: 5px;
            position: fixed;
            width: 100%;
            margin-top: 50px;

            li {
                list-style: none;
                padding: 3px 20px;
                cursor: pointer;
            }
        }
    }

    .main-center {
        flex-grow: 3;
        position: relative;
        width: 100%;

        .header {
            width: 100%;
            height: 200px;
            position: relative;
            background-image: linear-gradient(#888, #222);

            @include editPic();

            img {
                width: 100%;
                height: inherit;

            }

            &:hover i {
                display: block;
            }
        }

        .theme {
            display: flex;
            padding: 10px 20px;
            gap: 10px;
            position: relative;

            i {
                cursor: pointer;
                padding: 0 5px;
            }
        }

        .profile {
            text-align: center;

            // background-color: pink;

            .foto {
                display: block;
                margin: auto;
                text-align: center;
                margin-top: -90px;
                position: relative;

                &:hover i {
                    display: block;
                }

                width: 100px;
                height: 100px;
                @include editPic();


                img,
                figure {
                    background-color: white;
                    display: block;
                    margin: auto;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    box-shadow: 1px 2px 7px bg-primary($tone);

                    strong {
                        font-size: 5em;
                        font-weight: bold;
                        color: bg-primary($tone);
                    }

                }
            }

            table {
                margin: auto;
                font-size: 10px;

                tr th {
                    font-size: 1.5em;
                }

                tr td {
                    padding: 0 10px;
                }
            }


        }

        .new-post {
            display: flex;
            flex: 1;
            margin-bottom: 15px;

            a {
                flex: 1;
                text-align: center;
                text-decoration: none;
                color: inherit;
            }
        }

        .cont-slide {
            position: relative;
            height: 150px;
            scroll-behavior: smooth;
            margin-right: 20px;

            #swiperight {
                position: absolute;
                right: -10px;
                color: $bg-parallel;
                top: 47%;
            }

            .slide {
                position: absolute;
                padding: 10px 0;
                display: flex;
                flex: 2;
                gap: 10px;
                overflow-x: scroll;
                width: 100%;
                padding: 0 10px;

                figure {
                    min-width: 200px;
                    display: grid;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: #eee;
                    position: relative;
                    padding: 10px;
                    border-radius: 5px;
                    text-align: left;

                    div {
                        cursor: pointer;

                        .user-foto {
                            width: 50px;
                            height: 50px;
                            background-color: black;
                            color: white;
                            display: block;
                            border-radius: 50%;
                            overflow: hidden;
                            text-align: center;
                            line-height: 50px;
                            font-size: 2rem;
                            float: left;
                            margin-right: 10px;
                        }

                        figcaption {
                            font-weight: bold;
                        }

                        blockquote {
                            font-size: 12px;
                        }

                        strong em {
                            font-size: 10px;
                        }
                    }

                    i {
                        position: absolute;
                        right: 5px;
                        top: 2px;
                        cursor: pointer;
                        float: right;
                        color: $bg-parallel;
                    }

                    .btn {

                        clear: both;
                        height: 20px;

                        button {
                            cursor: pointer;
                            float: right;
                            padding: 2px 5px;
                            border: thin solid #eee;
                            background-color: transparent;
                            color: #eee;
                            border-radius: 10px;
                        }

                        button.Unfollow {
                            color: #aaa;
                            border: thin solid #aaa;
                        }
                    }
                }
            }
        }

        .about {
            table {
                // margin: 0 0 50px 20px  ;
                margin: auto;
                margin-bottom: 50px;
                background-color: rgba(0, 0, 0, .3);
                width: 95%;
                text-align: left;
                padding: 5px;
                border-radius: 5px;
            }
        }

    }

    .main-right {
        width: 50%;
        @include populars;
    }
}

@media only screen and (max-width: 700px) {
    .main-container {
        display: grid;

        .main-right,
        .main-left {
            width: 100%;

            // z-index: 2;
            ul {
                position: relative;
                display: flex;
                margin: 20px auto;
                text-align: center;

                li {
                    display: grid;
                    text-align: center;
                }
            }
        }
    }
}