@import "root", "mixins";

.forum>nav {
    text-align: center;
    @include browser;
}

.main-right{
    max-width: 100%;
@include frecuentlyUsers;
@include populars;
}


#loading {
    margin: auto;
    text-align: center;

    img {
        width: 100px;
        height: 100px;
        clip-path: circle(50%);
    }
}

.main-center{
    h1{
        color: red;
    }
    .sub-title {
        margin: auto;
        padding: 0;
        text-align: center;
        background-color: black;

        h1 {
            position: relative;
            font-family: sans-serif;
            letter-spacing: 20px;
            font-weight: bold;
            background: linear-gradient(90deg, #000, #fff, #000);
            background-repeat: no-repeat;
            background-size: 80%;
            animation: animate 3s linear infinite;
            background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);
        }
    }
    @keyframes animate {
        0% {
            background-position: -500%;
        }
    
        100% {
            background-position: 500%;
        }
    }

}

.posts {
    padding: 20px;

    .card-post {
        transition: all 0.4s;
        max-width: 800px;
        display: flex;
        overflow: hidden;
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);

        cursor: pointer;

        &:hover .bg-img {
            color: white;
        }

        div.bg-img {
            position: relative;
            width: 60%;
            padding: 5px;
            box-shadow: inset -80px 0px 80px #666;
            color: #eee;
            text-shadow: 1px 1px 3px black, -1px -1px 3px black;
        }

        ul {
            display: flex;
            list-style: none;
            gap: 10px;

        }

        cite {
            position: absolute;
            right: 10px;
            bottom: 10px;
            // color: $bg-parallel;
            z-index: 5;
        }
    }

    figure {
        background-color: #666;
        box-shadow: -20px 0px 40px #666;
        color: #ddd;
        transition: all 0.4s;
        width: 100%;
        position: relative;

        figcaption {
            padding: 10px;
            margin: 0 auto;

            @include hashtags;

            h2 strong {
                font-size: 5rem;
                color: $bg-parallel
            }

            .component {
                margin: 0 auto;


                blockquote.quote {
                    position: relative;
                    text-align: justify;
                    padding: 1rem 1.2rem;
                    width: 80%;
                    color: #999;
                    margin: 1rem auto 2rem;

                    /* -- create the quotation marks -- */
                    &:before,
                    &:after {
                        font-family: FontAwesome;
                        position: absolute;
                        color: $bg-parallel;
                        font-size: 34px;
                    }
                }
            }

            .component blockquote.EN {
                background:
                    linear-gradient(to right, bg-primary($tone) 4px, transparent 4px) 0 100%,
                    linear-gradient(to left, bg-primary($tone + 5) 4px, transparent 4px) 100% 0,
                    linear-gradient(to bottom, bg-primary($tone) 4px, transparent 4px) 100% 0,
                    linear-gradient(to top, bg-primary($tone + 5) 4px, transparent 4px) 0 100%;
                background-repeat: no-repeat;
                background-size: 20px 20px;

                &:before {
                    content: "\f10d";
                    top: -12px;
                    margin-right: -20px;
                    right: 100%;
                }

                &:after {
                    content: "\f10e";
                    margin-left: -20px;
                    left: 100%;
                    top: auto;
                    bottom: -20px;
                }
            }


        }
    }
}

@media only screen and (max-width: 800px) {
    .posts .card-post {
        display: grid;

        figure {
            box-shadow: 0px -80px 80px #666;
        }

        div.bg-img {
            display: block;
            height: 200px;
            min-width: 100%;
            box-shadow: inset 0px -30px 40px #666;
        }
    }
}