@import "root", "mixins";

.index{
    .logo{
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 20px;
        img{
            width: 150px;
            max-width: 100%;
        }
    }
}
.content {
    position: relative;
    width: 100%;
    display: flex;
.sub-content {
    padding: 100px 0;
    background-color: #000;
    width: 100%;

    .title {
        position: relative;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: #666;
            font-size: 30px;
            font-weight: bold;
            font-family: monospace;
            text-transform: uppercase;
            letter-spacing: 10px;
            cursor: pointer;

            span {
                transition: 1s all ease-in-out;
            }

            &:hover {
                letter-spacing: 1px;
            }

            &:hover span:nth-child(1):after {
                transition: 2s;
                content: "um & B";
                animation: animate2 3s infinite;
            }


            &:hover span {
                color: #fff;
                text-shadow: 0 0 5px #ddd,
                    0 0 10px #ddd,
                    0 0 30px #ddd;
            }

        }
    }

    .slogan {
        margin: auto;
        padding: 15%;
        text-align: center;
        position: relative;

        p {
            position: relative;
            font-family: sans-serif;
            letter-spacing: 2px;
            background: linear-gradient(90deg, #000, #fff, #000);
            background-repeat: no-repeat;
            background-size: 80%;
            animation: animate 5s linear infinite;
            background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);

        }
    }

    
}
// *******FRASES DEL CONTENET SLIDE

.cont {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Roboto Condensed", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    .carousel {
        font-size: 36px;
        font-weight: 100;
        color: #111;

        div {
            overflow: hidden;
            position: relative;
            float: left;
            text-align: right;
            height: 65px;
            padding-top: 10px;
            margin-top: -10px;

            li {
                font-family: Serif;
                color: #888;
                font-weight: 700;
                padding: 0 10px;
                height: 45px;
                margin-bottom: 45px;
                display: block;
            }
        }
    }
}

.droper {
    animation: flip 15s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
}

.video{
    width: 100%;
    padding:5% 20%;
    video{
        width: 100%;
    }
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

@keyframes animate2 {
    0% {
        color: #222;
        text-shadow: none;
    }

    50% {
        color: #fff;
    }

    60% {
        color: #000;
    }

    65% {
        color: #fff;
        text-shadow: 0 0 1px #666, 0 0 5px #666, 0 0 1px #888;
    }

    100% {
        color: #fff;
    }
}





@keyframes flip {
    0% {
        margin-top: -630px;
    }

    5% {
        margin-top: -540px;
    }

    15% {
        margin-top: -540px;
    }

    20% {
        margin-top: -450px;
    }

    30% {
        margin-top: -450px;
    }

    35% {
        margin-top: -360px;
    }

    45% {
        margin-top: -360px;
    }

    50% {
        margin-top: -270px;
    }

    60% {
        margin-top: -270px;
    }

    65% {
        margin-top: -180px;
    }

    70% {
        margin-top: -180px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: -90px;
    }

    85% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -630px;
    }
}