{% extends './template.html' %}

{% block title %}create-post {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block body %}
<div class="main-center">
    <div class="account">
        <div class="header">
            {% if data['user']['wallpaper_user'] != "": %}
                <img src="{{ data['user']['wallpaper_user'] }}">
            {% endif %}
        </div>
        <div class="profile">
        <div class="foto">
            {% if data['user']['foto_user'] != "": %}
            <img src="{{ data['user']['foto_user'] }}">
            {% else: %}
                <figure>
                    <strong>{{ data['user']['name_user'][:1] }}</strong>
                </figure>
            {% endif %}
            </div>
            <h1>{{ data['user']["name_user"] }}</h1>
            <summary>{{ data['user']["about_user"] }}</summary>
            <br>
            {% if 'id_user' in session %}
                <button id="btnfollow" data-val="{{ data['user']['id_user'] }}">{{ data['follow'] }}</button>
            {% else %}
            <a href="/login" class="buttons" title="Login or register to follow this user">Enter</a>  
            {% endif %}          
            <a href="mailto:{{ data['user']['mail_user'] }}" class="buttons">Contact</a>
            <script>
                $(function(){
                    $('#btnfollow').click(function(){
                        follow_unfollow(document.getElementById('btnfollow').getAttribute('data-val'), this, '#followers-counter');                        
                    })
                })
            </script>
            <div>
                <ul>
                    <li>
                        <strong id="followers-counter"> {{ data['followers'] }}</strong>
                        <span>Followers</span>
                    </li>
                    <li>
                        <strong>{{ data['following'] }}</strong>
                        <span>Following</span>
                    </li>
                    <li>
                        <strong>{{ data['total'] }}</strong>
                        <span>Posts</span>
                    </li>
                </ul>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#004242" fill-opacity="1" d="M0,32L720,224L1440,128L1440,320L720,320L0,320Z"></path>
        </svg>
        <div class="about">
            <h3>About</h3>
            <p>Mail: {{ data['user']["mail_user"] }}</p>
            <p>Since: {{ data['user']["date_user"] }}</p>
            {% if data['user']['country_user'] != "" %}
                <p>Country: {{ data['user']["country_user"] }}</p>
            {% endif %}
            <summary>{{ data['user']["about_user"] }}</summary>
        </div>
        <div class="cont-author" id="cont-author">
            <div class="sub-posts">
            {% for otherPosts in data['posts'] -%}
            {% if otherPosts[0] != data['id'] -%}
    
            <figure class="other-posts " onclick="location.href='/post/{{ otherPosts[7] }}'">
                <figcaption>
                    <p>{{ otherPosts[2] }}</p>
                    <h3>{{ otherPosts[1] }}</h3>                
                </figcaption>
                <em>{{ otherPosts[3] }}</em>
                <blockquote>
                    <i class="fa fa-eye"> {{ otherPosts[4] }} </i>
                    <i class="fa fa-message"> {{ otherPosts[5] }} </i>
                    <i class="fa fa-thumbs-up"> {{ otherPosts[6] }} </i>
                </blockquote>
            </figure>
    
            {% endif %}
            {% endfor %}
            </div>
        </div>       
    </div>
</div>

{% endblock %}